html,body{
    height: 100%;
    margin: 0;
    font-size: 16px ;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666 ;
}
.img1{
    background-image: url(image/imagecloud.jpg);
    min-height: 400px;
  
}

.img2{
    background-image: url(image/imagesunny.jpg);
    min-height: 100%;
}

.img3{
    background-image: url(image/imagesnowy.jpg);
    min-height: 400px;
}
.img1,.img2,.img3{
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.textbg{
    background: rgb(0, 0, 0);
    padding: 20px;
    color: white;
}

.section1{
    padding: 50px 80px;
    text-align: center;
}

.ssection1{
    background-color: rgb(158, 214, 236);
    color: rgb(0, 0, 0);
}

.ssection2{
    background-color:  rgb(236, 158, 219);
    color: rgb(0, 0, 0);
}

.ssection3{
    background-color: rgb(158, 214, 236);
    color: rgb(0, 0, 0);
}


